In [4]:
#Import Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

In [5]:
# Styling of data viisualization

# Set max column and row display, helps to display all the rows and columns
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

#Control Display of seaborn data
pd.options.display.max_columns=50
sns.set(style="darkgrid", rc={"axes.facecolor":"#CAF1DE"})

# Data visualization config for matplotlib
plt.style.use('ggplot')
rcParams['figure.figsize'] = (12, 6)

In [6]:
# Reading the criminal record dataset
df_cr = pd.read_csv('../datasets/2018CrimeStatisticsByCategoryOfCrime.csv')

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACCUSED CHARGED,NaN,NaN,NaN,ACCUSED CONVICTED,NaN,NaN,NaN,NaN,NaN,NaN,IMPRISONMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,Cases pending in Court,Male Adult,Male Juven.,Female Adult,Female Juven.,Male Adult,Male Juven.,Female Adult,Female Juven.,Acquitted,Discharged,Awaiting Trial,Male Adult,Male Juven.,Female Adult,Female Juven.,Death,Fined,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,9,10,NaN,NaN,NaN,11,NaN,NaN,NaN,12,13,14,NaN,NaN,NaN,15,16,17,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,39,85,-,-,-,4,-,-,-,1,1,79,4,-,-,-,-,-,-,-,-,-,197,4,17,-,"11,500,000",-

In [ ]:
# Getting the first 5 rows
df_cr.head()

In [7]:
# Getting the last 5 rows
df_cr.tail()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
122,98,UWA Statute,648,112,89,447,485,269,8,26,144,609,7,17,-,377,-,11,-,10,42,193,249,3,4,-,-,107,-,15,10,"172,222,000",608,-,8,-,"26,000,000","26,000,000"
123,99,Local Government Act,4,2,1,1,1,-,-,-,1,1,-,-,-,-,-,-,-,-,-,1,-,-,-,-,-,-,-,-,-,-,4,-,-,-,-,-
124,100,All other Acts,821,345,189,287,430,173,7,19,93,641,12,76,-,323,8,44,-,1,56,297,121,2,3,-,-,120,21,41,60,"69,060,000",710,10,62,9,"241,790,000","440,000"
125,NaN,Sub Total(Other Laws),"3,006",749,620,"1,637","1,885",991,24,127,500,"3,592",49,416,138,"2,183",54,314,19,29,280,"1,316","1,291",7,18,-,-,810,21,292,123,"518,202,000","2,676",10,115,9,"274,390,000","26,440,000"
126,NaN,GRAND TOTAL,"238,746","90,763","74,948","73,035","101,116","22,263","1,248","11,121","38,411","79,083","2,355","5,988",596,"24,716",812,"1,944",223,"1,666","12,518","46,143","17,138",274,823,31,-,"1,967",83,"2,976","4,373","1,270,978,007","143,880","10,772","60,648","24,184","495,067,703,285","60,589,926,327"

In [11]:
# Getting the shape of the dataset
df_cr.shape

(127, 38)

In [9]:
# Getting a detailed description of our data
df_cr.describe()

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,PERSONS TAKEN TO COURT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,SENTENCES IMPOSED BY COURTS,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
count,95,125,125,125,125,125,125,125,125,125,125,126,124,124,124,126,124,124,124,109,109,109,109,108,108,109,109,109,109,109,109,109,100,107,99,108,110,109
unique,95,125,104,95,89,89,98,66,41,60,84,92,43,60,27,75,30,39,18,40,69,96,72,21,32,10,3,42,15,46,51,68,91,50,75,45,66,55
top,S/No.,CASE/CRIME INCIDENCES,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
freq,1,1,17,18,24,20,19,34,55,39,20,21,53,36,76,35,70,57,92,37,20,4,21,62,48,88,107,32,77,40,38,36,4,33,11,50,41,53

In [10]:
# Getting a summary of the description
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   95 non-null     object
 1   Unnamed: 1                   125 non-null    object
 2   REPORTED CASES               125 non-null    object
 3   Unnamed: 3                   125 non-null    object
 4   Unnamed: 4                   125 non-null    object
 5   Unnamed: 5                   125 non-null    object
 6   PERFOMANCE                   125 non-null    object
 7   Unnamed: 7                   125 non-null    object
 8   Unnamed: 8                   125 non-null    object
 9   Unnamed: 9                   125 non-null    object
 10  Unnamed: 10                  125 non-null    object
 11  PERSONS TAKEN TO COURT       126 non-null    object
 12  Unnamed: 12                  124 non-null    object
 13  Unnamed: 13                  124 non-null    object
 14  Unnamed: 14                  124 non-null    object
 15  Unnamed: 15                  126 non-null    object
 16  Unnamed: 16                  124 non-null    object
 17  Unnamed: 17                  124 non-null    object
 18  Unnamed: 18                  124 non-null    object
 19  Unnamed: 19                  109 non-null    object
 20  Unnamed: 20                  109 non-null    object
 21  Unnamed: 21                  109 non-null    object
 22  SENTENCES IMPOSED BY COURTS  109 non-null    object
 23  Unnamed: 23                  108 non-null    object
 24  Unnamed: 24                  108 non-null    object
 25  Unnamed: 25                  109 non-null    object
 26  Unnamed: 26                  109 non-null    object
 27  Unnamed: 27                  109 non-null    object
 28  Unnamed: 28                  109 non-null    object
 29  Unnamed: 29                  109 non-null    object
 30  Unnamed: 30                  109 non-null    object
 31  Unnamed: 31                  109 non-null    object
 32  Unnamed: 32                  100 non-null    object
 33  Unnamed: 33                  107 non-null    object
 34  Unnamed: 34                  99 non-null     object
 35  Unnamed: 35                  108 non-null    object
 36  Unnamed: 36                  110 non-null    object
 37  Unnamed: 37                  109 non-null    object
dtypes: object(38)
memory usage: 37.8+ KB